<!DOCTYPE html>
<html style="scroll-behavior: smooth">
  <head>
    <title>Munari Dashboard</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body
    data-spy="scroll"
    data-target=".navbar"
    data-offset="300"
    class="bg-dark"
  >
    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a
          class="navbar-brand"
          href="https://discord.com/oauth2/authorize?client_id=740112353483554858&redirect_uri=https%3A%2F%2Ftakagi.glitch.me&response_type=code&scope=email%20identify%20guilds"
        >
          <i class="fas fa-user-circle"></i>
          <strong>Guests</strong></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="btn nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-exclamation-circle"></i> Features
                <div
                  class="dropdown-menu bg-dark text-center"
                  aria-labelledby="navbarDropdown"
                >
                  <a
                    class="btn btn-secondary bg-dark text-white dropdown-item"
                    href="#takagif"
                    >Munari</a
                  >
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="#about">
                <i class="fas fa-address-card"></i> About Me
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <br />

      <!--Marketing section-->
      <div
        id="featurette"
        class="container-fluid marketing text-center bg-light"
      >
        <!-- Three columns of text below the carousel -->
        <br />
        <div align="center">
          <div class="col-lg-4">
            <img
              class="rounded-circle"
              width="140"
              height="140"
              src="https://cdn.glitch.com/727db3df-cb96-49c4-9e45-d798258184aa%2FMunari%20Rose.png"
            />
            <h2>Munari</h2>
            <p>
              Munari is a multi-functional Discord Bot, Focused on Music and
              have many features
            </p>
            <p>
              <a class="btn btn-secondary" href="#takagif" role="button"
                >View details »</a
              >
            </p>
          </div>
        </div>
        <hr class="featurette-divider" />

        <div id="takagif" class="row featurette bg-dark">
          <div class="col-md-5 order-md-2">
            <br />
            <img
              class="rounded-circle"
              width="250"
              height="250"
              src="https://cdn.glitch.com/727db3df-cb96-49c4-9e45-d798258184aa%2FMunari%20Rose.png?v=1603774184546"
            />
          </div>
          <div class="col-md-7 order-md-1">
            <br />
            <h2 class="featurette-heading" style="color: #fff">
              Munari Features
            </h2>
            <div class="container lead text-white">
              <ul>
                <li>Playing music from youtube</li>
                <li>Make announcement in diferent channel</li>
              </ul>
              <br />
              <a
                class="btn btn-primary"
                href="https://bit.ly/Munari-Bot"
                role="button"
                target="_blank"
              >
                <i class="fab fa-discord"></i> Invite Me
              </a>
              <button
                class="btn btn-secondary"
                type="button"
                data-toggle="collapse"
                data-target="#Munaricmd"
                aria-expanded="false"
                aria-controls="Munaricmd"
              >
                <i class="fas fa-exclamation-circle"></i> Command List »
              </button>
            </div>
          </div>

          <div
            id="Munaricmd"
            class="container bg-dark collapse text-light order-sm-3"
          >
            <br />
            <table
              class="table-responsive table-sm table-hover table-bordered table-dark table-striped"
            >
              <thead>
                <tr>
                  <th scope="col">Command</th>
                  <th scope="col">Description</th>
                  <th scope="col">Example</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>serverinfo</td>
                  <td>Display guild information</td>
                  <td><code>m!serverinfo</code></td>
                </tr>
                <tr>
                  <td>userinfo</td>
                  <td>Display user information</td>
                  <td><code>m!userinfo</code></td>
                </tr>
                <tr>
                  <td>announcement</td>
                  <td>
                    Make custom announcement message in different channel by
                    user
                  </td>
                  <td>
                    <code
                      >m!announcement #channel Title,. Description,.
                      Color,.Image</code
                    >
                  </td>
                </tr>
                <tr>
                  <td>japanesepop</td>
                  <td>Play Japanese music from stream link Listen.Moe</td>
                  <td>
                    <code>m!japanesepop</code>
                  </td>
                </tr>
                <tr>
                  <td>koreanpop</td>
                  <td>Play Korean music from stream link Listen.Moe</td>
                  <td>
                    <code>m!koreanpop</code>
                  </td>
                </tr>
                <tr>
                  <td>play</td>
                  <td>Play music from youtube client</td>
                  <td>
                    <code>m!play title/youtube url</code>
                  </td>
                </tr>
                <tr>
                  <td>lockchannel</td>
                  <td>Make a channel can`t be access to everyone</td>
                  <td>
                    <code>m!lockchannel #channel</code>
                  </td>
                </tr>
                <tr>
                  <td>unlockchannel</td>
                  <td>Make a channel can be access again to everyone</td>
                  <td>
                    <code>m!unlockchannel #channel</code>
                  </td>
                </tr>
                <tr>
                  <td>prune</td>
                  <td>Delete message up to 99</td>
                  <td>
                    <code>m!prune 2-99</code>
                  </td>
                </tr>
                <tr>
                  <td>nick</td>
                  <td>Change nickname of user </td>
                  <td>
                    <code>m!nick @user</code>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <code></code>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="about" class="container text-center bg-white">
          <br />
          <h2 class="featurette-heading">
            About <span class="text-muted"> Me</span>
          </h2>
          <p class="lead">
            Hello everyone, I'm DexX, anime fan, bot developer, and more. I've
            started making bots just for fun. and firstly i don't know how to
            make discord bot, but i studying from many youtube videos and
            website and i make this bot
          </p>
          <br />
          <h4 class="featurette-heading">
            Find <span class="text-muted"> Me</span>
          </h4>
          <p align="center">
            <a href="https://github.com/BlazeDexX" target="_blank"
              ><img
                alt="Github"
                src="https://img.shields.io/badge/GitHub-%2312100E.svg?style=for-the-badge&logo=Github&logoColor=white"
            /></a>
            <a href="https://www.instagram.com/orchit07" target="_blank"
              ><img
                alt="Instagram"
                src="https://img.shields.io/badge/-instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"
            /></a>
            <a href="https://discord.gg/qtCTuyM" target="_blank"
              ><img
                alt="Discord"
                src="https://img.shields.io/badge/-Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white"
            /></a>
          </p>

          <br />
        </div>
        <!-- /END THE FEATURETTES -->
      </div>
    </main>
    <footer>
      <p class="float-right ">
        <a class="btn btn-secondary" role="button" href="#"
          >Back to top <i class="fas fa-angle-double-up"></i
        ></a>
      </p>
    </footer>
  </body>
</html>
